#% if matherlynet_enabled %#
---
apiVersion: v1
kind: Namespace
metadata:
  name: matherlynet
  labels:
    pod-security.kubernetes.io/enforce: restricted
#% if matherlynet.playground %#
    llama-server.ai/client: "true"
#% endif %#
  annotations:
    kustomize.toolkit.fluxcd.io/prune: disabled
#% endif %#
