#% if network_optimizer_enabled %#
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: network-optimizer
spec:
  interval: 1h
  path: ./kubernetes/apps/network-optimizer/network-optimizer/app
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: network-optimizer
  wait: false
#% endif %#
