#% if media_enabled %#
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media
spec:
  accessModes: ["ReadWriteMany"]
  storageClassName: media
  volumeName: media
  resources:
    requests:
      storage: 1Ti
#% endif %#
