---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system

components:
  - ../../components/sops

resources:
  - ./namespace.yaml
  - ./cilium/ks.yaml
  - ./coredns/ks.yaml
  - ./metrics-server/ks.yaml
  #% if nvidia_enabled %#
  - ./nvidia-device-plugin/ks.yaml
  #% endif %#
  - ./reloader/ks.yaml
  - ./restart-reset/ks.yaml
  #% if spegel.enabled %#
  - ./spegel/ks.yaml
  #% endif %#
