#% if sure_enabled %#
---
# The account ID is here because it identifies the Cloudflare account.
apiVersion: v1
kind: Secret
metadata:
  name: sure-secret
stringData:
  SECRET_KEY_BASE: "#{ sure.secret_key_base }#"
  ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY: "#{ sure.encryption_primary_key }#"
  ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY: "#{ sure.encryption_deterministic_key }#"
  ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT: "#{ sure.encryption_key_derivation_salt }#"
  OIDC_CLIENT_SECRET: "#{ sure.oidc_client_secret }#"
  CLOUDFLARE_ACCOUNT_ID: "#{ sure.r2_account_id }#"
  CLOUDFLARE_ACCESS_KEY_ID: "#{ sure.r2_access_key_id }#"
  CLOUDFLARE_SECRET_ACCESS_KEY: "#{ sure.r2_secret_access_key }#"
#% endif %#
