#% if observability_enabled %#
---
apiVersion: v1
kind: Secret
metadata:
  name: influxdb-secret
stringData:
  DOCKER_INFLUXDB_INIT_PASSWORD: "#{ observability.influxdb_password }#"
  DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: "#{ observability.influxdb_token }#"
#% endif %#
