#% if observability_enabled %#
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  #% if observability.discord_webhook %#
  - ./alertmanager-secret.sops.yaml
  #% endif %#
  #% if nvidia_enabled %#
  - ./grafana-llm-app.yaml
  #% endif %#
  - ./helmrelease.yaml
  - ./ocirepository.yaml
  - ./secret.sops.yaml
#% endif %#
