#% if observability_enabled %#
---
apiVersion: v1
kind: Secret
metadata:
  name: grafana-secret
stringData:
  admin-user: admin
  admin-password: "#{ observability.grafana_password }#"
  INFLUXDB_TOKEN: "#{ observability.influxdb_token }#"
  #% if observability.grafana_oidc_client_id %#
  OIDC_CLIENT_SECRET: "#{ observability.grafana_oidc_client_secret }#"
  #% endif %#
#% endif %#
