#% if observability_enabled %#
---
apiVersion: v1
kind: Secret
metadata:
  name: grafana-secret
stringData:
  admin-user: admin
  admin-password: "#{ observability.grafana_password }#"
  INFLUXDB_TOKEN: "#{ observability.influxdb_token }#"
  #% if observability.grafana_oidc_client_id %#
  OIDC_CLIENT_SECRET: "#{ observability.grafana_oidc_client_secret }#"
  #% endif %#
  #% if observability.grafana_secret_key %#
  SECRET_KEY: "#{ observability.grafana_secret_key }#"
  #% endif %#
  #% if observability.github_app_id %#
  GITHUB_APP_PRIVATE_KEY: |
    #{ observability.github_app_private_key | trim | indent(4) }#
  #% endif %#
  #% if observability.sentry_org %#
  SENTRY_TOKEN: "#{ observability.sentry_token }#"
  #% endif %#
#% endif %#
