#% if matherlynet_enabled %#
---
# The secrets are a whole values document because Flux splits a targetPath
# value on commas. The two addresses are here to keep them out of Git.
apiVersion: v1
kind: Secret
metadata:
  name: matherlynet-secret
stringData:
  values.yaml: |
    config:
      web:
        admin_email: "#{ matherlynet.admin_email }#"
#% if matherlynet.mail_from %#
        mail_from: "#{ matherlynet.mail_from }#"
#% endif %#
    secrets:
      web:
        better_auth_secret: "#{ matherlynet.better_auth_secret }#"
#% if matherlynet.smtp_url %#
        smtp_url: "#{ matherlynet.smtp_url }#"
#% endif %#
#% if matherlynet.github_client_secret %#
        github_client_secret: "#{ matherlynet.github_client_secret }#"
#% endif %#
#% if matherlynet.google_client_secret %#
        google_client_secret: "#{ matherlynet.google_client_secret }#"
#% endif %#
#% endif %#
