#% if network_optimizer_enabled %#
---
apiVersion: v1
kind: Secret
metadata:
  name: network-optimizer-secret
stringData:
  APP_PASSWORD: "#{ network_optimizer.app_password }#"
  #% if network_optimizer_oidc %#
  NETOPT_FED_POCKET_ID_SECRET: "#{ network_optimizer.oidc_client_secret }#"
  #% endif %#
#% endif %#
