#% if postgres_backup_enabled %#
---
apiVersion: barmancloud.cnpg.io/v1
kind: ObjectStore
metadata:
  name: postgres-backup
spec:
  retentionPolicy: 30d
  configuration:
    # Each cluster writes under its own name, so Cluster names must be unique across namespaces.
    destinationPath: s3://#{ postgres.backup.bucket }#/
    endpointURL: #{ postgres.backup.endpoint }#
    s3Credentials:
      accessKeyId:
        name: postgres-backup
        key: ACCESS_KEY_ID
      secretAccessKey:
        name: postgres-backup
        key: ACCESS_SECRET_KEY
    data:
      compression: gzip
    wal:
      compression: gzip
#% endif %#
