#% if postgres_backup_enabled %#
---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-backup
stringData:
  ACCESS_KEY_ID: "#{ postgres.backup.access_key_id }#"
  ACCESS_SECRET_KEY: "#{ postgres.backup.secret_access_key }#"
#% endif %#
