#% if kener_enabled %#
---
# The mail settings are all here because the host and the user name an account.
apiVersion: v1
kind: Secret
metadata:
  name: kener-secret
stringData:
  KENER_SECRET_KEY: "#{ kener.secret_key }#"
  #% if kener_smtp %#
  SMTP_HOST: "#{ kener_smtp.host }#"
  SMTP_PORT: "#{ kener_smtp.port }#"
  SMTP_SECURE: "#{ kener_smtp.secure }#"
  SMTP_USER: "#{ kener_smtp.user }#"
  SMTP_PASS: "#{ kener_smtp.password }#"
  SMTP_FROM_EMAIL: "#{ kener.mail_from }#"
  #% endif %#
#% endif %#
