#% if redis_enabled %#
---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
resources:
  - ./networkpolicy.yaml
  - ./secret.sops.yaml
  - ./service.yaml
  - ./statefulset.yaml
#% endif %#
