#% if reactive_resume_enabled %#
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
components:
  - ../../../../components/postgres
resources:
  - ./cluster.yaml
  - ./helmrelease.yaml
  - ./networkpolicy.yaml
  - ./ocirepository.yaml
  - ./scheduledbackup.yaml
  - ./secret.sops.yaml
#% endif %#
