#% if reactive_resume_enabled %#
---
# The endpoint is here because it holds the Cloudflare account ID.
apiVersion: v1
kind: Secret
metadata:
  name: reactive-resume-secret
stringData:
  AUTH_SECRET: "#{ reactive_resume.auth_secret }#"
  ENCRYPTION_SECRET: "#{ reactive_resume.encryption_secret }#"
  OAUTH_CLIENT_SECRET: "#{ reactive_resume.oidc_client_secret }#"
  S3_ENDPOINT: "#{ reactive_resume.s3_endpoint }#"
  S3_ACCESS_KEY_ID: "#{ reactive_resume.s3_access_key_id }#"
  S3_SECRET_ACCESS_KEY: "#{ reactive_resume.s3_secret_access_key }#"
#% endif %#
