---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: k8s-gateway
spec:
  chartRef:
    kind: OCIRepository
    name: k8s-gateway
  interval: 1h
  values:
    fullnameOverride: k8s-gateway
    serviceType: LoadBalancer
    service:
      annotations:
        lbipam.cilium.io/ips: "#{ gateways.dns }#"
      externalTrafficPolicy: Cluster
    securityContext:
      runAsUser: 1000
    deployment:
      dnsPolicy: ClusterFirst
    readinessProbe:
      initialDelaySeconds: 10
      periodSeconds: 10
      failureThreshold: 5
    servers:
      - zones:
          - zone: .
            use_tcp: true
        port: 1053
        servicePort: 53
        plugins:
          - name: errors
          - name: health
            configBlock: |-
              lameduck 5s
          - name: ready
          - name: k8s_gateway
            parameters: "${SECRET_DOMAIN}"
            configBlock: |-
              apex k8s-gateway.network
              ttl 1
              resources HTTPRoute Service
          - name: log
          - name: prometheus
            parameters: 0.0.0.0:9153
          - name: forward
            parameters: . /etc/resolv.conf
          - name: loop
          - name: reload
          - name: loadbalance
